<!doctype html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Login</title>
  </head>
  {% load crispy_forms_tags %}
  <body>
    <div class="auth-container">
    <form method="post" action="{% url 'login' %}">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        {{ form.password|as_crispy_field }}
        <button class="btn btn-primary w-100 mt-3 mb-2" type="submit" >LOGIN</button>
      <div>
        <a href="/users/signup">Register New User</a>
      </div>
    </form>
    </div>
  </body>
</html>
