{% extends 'base.html' %}
{% block body %}
<div class="w-75 order-md-2 mb-4 mt-5">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Order List</span>
  </h4>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Order Number</th>
        <th scope="col">User</th>
        <th scope="col">Status</th>
        <th>Confirm</th>
        <th>Cancel</th>
      </tr>
    </thead>
    <tbody>
      {% for orders in order%}
        <tr>
          <td>{{orders.id}}</td>
          <td>{{orders.user.username}}</td>
          <td>{{orders.OrderStatus}}</td>
          <td><button onclick="confirmOrderItem('{{orders.id}}')" class="btn btn-sm btn-success">Confirm</button></td>
          <td><button onclick="cancelOrder('{{orders.id}}')" class="btn btn-sm btn-danger">Cancel</button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}
